.mainstyle {
  background-color: #222D32;
}
.mainstyle .panel {
  margin-top: 150px;
}
.mainstyle .panel .panel-heading {
  height: 61px;
}
.mainstyle .panel .panel-heading .panel-title {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
