body,html{
    width: 100%;

}
    a
    {
        color: #fff;
    }
    a:hover,
    a:visited,
    a:focus,
    a:active{
        color: #fff;
        text-decoration: none;
    }

    .aside{
        width: 180px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #222D32;
        text-align: center;
        z-index: 999;
        transition: all 1s;
        &.current{
            left: -180px;      
        }
        .one{
            width: 100%;
            height: 50px;
            text-align: center;
            color: white;
            font-size: 22px;
            line-height: 50px;
            background-color: #367FA9;
            z-index: 666;
        }
        .user{
            padding-top: 30px;
            height: 150px;
            text-align: center;
            img{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                margin: 0 50px;
            }
            p{
                color: #fff;
                font-size: 20px;
                margin-top: 10px;
            }
        }
        .nav{
            margin-top: 20px;
            ul{
                list-style: none;
                padding: 0px;
                li{
                    a{ 
                        display: block; 
                        border-left: 3px solid transparent;
                        height: 40px;
                        line-height: 40px;
                        .lazy{
                            width: 14px;
                            height: 16px;
                        }
                    &.current{
                        background-color: #1d1f21;
                        border-left:  3px solid #006699;
                    }
                    }
                    .child {
                        display: none;
                        a{  
                            display: block;  
                            border-left: 3px solid transparent;
                            &.current{
                                background-color: #1d1f21;
                                border-left:  3px solid #006699;
                        }
                    }
                }
            }
            
        }
    }
}

.topad{
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 180px;
    height: 50px;
    background-color: #3C8DBC;
    width: 100%;
    transition: all 1s;
  &.current{
    padding-left: 0;
}
 a{ 
     font-size: 16px;
     display:block;
     width: 50px;
     height: 100%;
     line-height: 50px;
     text-align: center

 }
}

.main{
    padding-left: 180px;
    padding-top: 50px;
    .top{
        margin: 20px 0;
        height: 36px;
        line-height: 36px;
        background-color:#F5F5F5;
        a{  
            padding-left: 15px;
            color: #33bab7;
        }

    }
    .bottom{
        margin-top: 20px;
        .table.table-bordered th,
        .table.table-bordered td {
          text-align: center;
          /* 设置单位格内容 垂直对齐方式 */
          vertical-align: middle;
        }
    }
}
