.main{
    padding-left: 180px;
    padding-top: 50px;
    .top{
        margin: 20px 0;
        height: 36px;
        line-height: 36px;
        background-color:#F5F5F5;
        a{  
            padding-left: 15px;
            color: #33bab7;
        }
    }
    .bottom{
        margin-top: 20px;
        margin-left: 40px;
        .left,.right{
            width: 48%;
            height: 400px;
        }
    }
}